<ion-header>

  <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>{{title}}</ion-title>

      <ion-buttons slot="primary">
        <ion-button (click)="newPost()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--<ion-button (click)="newPost()" expand="full">New Post</ion-button>-->
    <ion-card *ngFor="let order of payload" (click)="goToPost(order)">
        <ion-card-title>{{order.title}}</ion-card-title>
        <ion-card-content>{{order.content}}</ion-card-content>
        <ion-card-content>Posted by {{order.user}} on {{order.date | date: 'dd/MM/yyyy, h:mm a'}}</ion-card-content>
        
    </ion-card>
</ion-content>
