<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button (click)="back()">back</ion-button>forumPosts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let order of payload">
    <ion-card>
      <ion-card-header>
          <ion-card-title>{{order.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
        
          </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item> 
</ion-content>



<!-- <ion-item *ngFor="let order of payload">Title= {{order.title}} Date= {{order.date}} User= {{order.user}}
    <ion-button slot="end" (click)="goToPost()" >view</ion-button>
  </ion-item>-->