<ion-header>

  <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>{{title}}</ion-title>

      <ion-buttons slot="primary">
        <ion-button (click)="newPost()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let order of payload" (click)="goToPost(order)">
        <ion-item>
          <h3>{{order.info.Area}}-{{order.info.Bank}}-{{order.info.Machine}} {{order.info.Asset}}</h3>
        </ion-item>
        <ion-card-title>{{order.info.Title}}</ion-card-title>
        <ion-card-subtitle>Posted by {{order.info.User}} on {{order.info.Date.toDate() | date: 'dd/MM/yyyy, h:mm a'}}</ion-card-subtitle>
        <ion-card-content>{{order.info.Content}}</ion-card-content>
        
        
    </ion-card>
</ion-content>
