<ion-header>
  <ion-toolbar>
    <ion-title>
      Machine Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
          <ion-searchbar animated [placeholder]="sPlaceholder" [(ngModel)]="sValue">
            </ion-searchbar>
          </ion-col>
          <ion-col size="4">
         
        <ion-select (ionChange)= "setSearchValue(sSearch)" [(ngModel)] ="sSearch">
          <ion-select-option [value]="sSearch" *ngFor="let sSearch of searchOptions">
            {{sSearch.field}}
          </ion-select-option>
        </ion-select>
          </ion-col>
          <ion-button (click)="searchData()" expand="full">Search</ion-button>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let m of payload"> 
    Location={{m.Area}}-{{m.Bank}}-{{m.Machine_Number}} {{m.Asset}}
    <ion-buttons slot="end">
      <ion-button (click)=viewMaelBook(m.Asset)>Mael Book</ion-button>
      <ion-button (click)="viewMachine(m)"> View </ion-button>
    </ion-buttons>
  </ion-item>
   </ion-content>



   <!-- this used to be the old way of getting data
  
  cabinet: a.payload.doc.data().Cabinet,
              theme: a.payload.doc.data().Theme,
              machineNumber: a.payload.doc.data().Machine_Number,
              bank: a.payload.doc.data().Bank,
              assetNumber: a.payload.doc.data().Asset,
              manufacturer: a.payload.doc.data().Manufacturer,
              area: a.payload.doc.data().Area,
              billValidator: a.payload.doc.data().Bill_Validator,
              billValidatorFirmware: a.payload.doc.data().Bill_Validator_Firmware,
              encrypted: a.payload.doc.data().EncryptedCode,
              inService: a.payload.doc.data().In_Service,
              keychip1: a.payload.doc.data().KeyChip1,
              keychip2: a.payload.doc.data().KeyChip2,
              machineDenom: a.payload.doc.data().Machine_Denom,
              maxBet: a.payload.doc.data().Max_Bet,
              onFloor: a.payload.doc.data().On_Floor,
              payTableId: a.payload.doc.data().PayTable_Id,
              printer: a.payload.doc.data().Printer,
              printerFirmware: a.payload.doc.data().Printer_Firmware,
              serial: a.payload.doc.data().Serial,
              isLeased: a.payload.doc.data().Is_Leased-->