<ion-header>
  <ion-toolbar>
    <ion-title>
      Machine Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
          <ion-searchbar animated [placeholder]="sPlaceholder" [(ngModel)]="sValue">
            </ion-searchbar>
          </ion-col>
          <ion-col size="4">
         
        <ion-select (ionChange)= "setSearchValue(sSearch)" [(ngModel)] ="sSearch">
          <ion-select-option [value]="sSearch" *ngFor="let sSearch of searchOptions">
            {{sSearch.field}}
          </ion-select-option>
        </ion-select>
          </ion-col>
          <ion-button (click)="searchData()" expand="full">Search</ion-button>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let m of payload"> 
    Serial={{m.serial}} Asset={{m.asset}} Location={{m.area}}{{m.bank}}{{m.machine}} Manufacturer={{m.manufacturer}} Cabinet={{m.cabinet}} 
    <ion-button slot="end" name="star" routerLink="/view-machine" routerDirection="forward"> View </ion-button>
  

    <ion-button (click)="test(m)"></ion-button>
  </ion-item>
   
  
  
</ion-content>
