<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>User Login</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                          <ion-label position="floating">Email</ion-label>
                          <ion-input type="text" placeholder="Email Address" [(ngModel)]="emailText"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Password</ion-label>
                          <ion-input type="password" placeholder="Password" [(ngModel)]="passwordText"></ion-input>
                        </ion-item>
                        <div margin-vertical text-right>
                          <ion-button fill="outline" id="forgot-password-btn">Forgot Password?</ion-button>
                          <ion-button id="login-btn" (click)="loginOnClick()">Login</ion-button>
                          <ion-button id="sign-up-btn" (click)="signUpOnClick()">Sign Up</ion-button>
                        </div>
                    </ion-card-content>
                </ion-card> 
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
