<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button (click)="cancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
  
        <ion-title>New Post</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <div [hidden]="!forumMode">
        <ion-input [(ngModel)]= "title">Subject:</ion-input>
          <ion-select (ionChange)= "setSearchValue(sSearch)" [(ngModel)] ="sSearch">
            <ion-select-option [value]="sSearch" *ngFor="let sSearch of searchOptions">
              {{sSearch.field}}
            </ion-select-option>
          </ion-select>
        </div>
        <ion-input [(ngModel)]="area">
          Area:
        </ion-input>
        <ion-input [(ngModel)]="bank">
          Bank:
        </ion-input>
        <ion-input [(ngModel)]="machine">
          Machine:
        </ion-input>
        <ion-input [(ngModel)]="asset">
          Asset:
        </ion-input>
       
        <ion-textarea auto-grow="true" [(ngModel)]="content">
          Content:
        </ion-textarea>
        <ion-button (click)="savePost()">Save Post</ion-button>
      </ion-card-content>
    </ion-card>
 
</ion-content>
