<ion-header>
    <ion-toolbar>
      <ion-title>
        Generate QR
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-item>
      <ion-label>Manufacture</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let machine of machines">{{machine.manufacture}}</ion-select-option>
        
      </ion-select>
    </ion-item>
    
    <ion-card *ngIf="qrData" text-center>
      <ngx-qrcode [qrc-value]="qrData" [qrc-element-type]="elementType" qrc-errorCorrectionLevel = "H">
      </ngx-qrcode>
      <ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="downloadQR()" *ngIf="elementType === 'canvas'">
          <ion-icon name="download" slot="start">
          </ion-icon>
          Download QR Code
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="scannedCode">
      <ion-card-content>
        Result From Scan: {{ scannedCode }}
      </ion-card-content>
    </ion-card>
  
  </ion-content>