<ion-header>
  <ion-toolbar>
    <ion-title>
      QR Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <!--<tr *ngFor="let info of payload">
        <td>-->
            <ion-grid>

                <!-- start of the header card -->
                <ion-row>
                    <ion-col>
                        <ion-card id="header-card">
                            <ion-card-header>
                                <!--
                                <ion-card-title>{{info.theme}}</ion-card-title>
                                <ion-card-subtitle>Bank: {{info.bank}}, Machine: {{info.machine_number}}, Asset: {{info.asset_number}}</ion-card-subtitle>
                                <ion-card-subtitle>{{info.manufacture}}, {{info.cabinet}}</ion-card-subtitle>-->
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>

                <!-- start of the grid array of buttons card -->
                <ion-row>
                    <ion-col col-md-6>
                        <ion-card>
                            <ion-grid id="button-grid">
                                <ion-row>
                                    <ion-col size="lg">
                                        <div class="grid-button-class">
                                            <ion-button id="forum-button" >Forum</ion-button>
                                        </div>
                                    </ion-col>
                                    <ion-col size="lg">
                                        <div class="grid-button-class">
                                            <ion-button id="more-info-button" >More Info</ion-button>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="lg">
                                        <div class="grid-button-class">
                                            <ion-button id="wiki-button" >Wiki</ion-button>
                                        </div>
                                    </ion-col>
                                    <ion-col size="lg">
                                        <div class="grid-button-class">
                                            <ion-button id="misc-button" style="width: 100%;">Misc</ion-button>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        <!--</td>
    </tr>-->
    

    
    <ion-button (click)="scanCode()" color="secondary" id="scan-button">
        <ion-icon name="qr-scanner"></ion-icon>
        Scan
    </ion-button>
</ion-content>
