<ion-header>
  <ion-toolbar>
    <ion-title>
      QR Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>To get started, click Scan Code</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button expand="full" (click)="scanCode()" color="secondary">
                            <ion-icon name="qr-scanner"></ion-icon>
                             Scan Code
                          </ion-button>
                    </ion-card-content>
                </ion-card> 
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
