<ion-header>
  <ion-toolbar>
    <ion-title>
      Wiki
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      Wiki
    </ion-card-title>
    <ion-card-content>
      <ion-button expand="full">
        Clear Guides
      </ion-button>
      <ion-button expand="full">
        Troubleshooting Guides
      </ion-button>
      <ion-button expand="full">
        Repair Guides
      </ion-button>
      <ion-button expand="full">
        Parts List
      </ion-button>
      <ion-button expand="full">
        Schematics
      </ion-button>
      
    </ion-card-content>
  </ion-card>
  
</ion-content>
